%a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
  %span.icon-bar
  %span.icon-bar
  %span.icon-bar
  %span.icon-bar
%a.brand{:href => root_path} DRY CRUD example
- if content_for?(:nav)
  = yield(:nav)
- else
  .container.nav-collapse
    %ul.nav
      = menu_item(t('activerecord.models.apps'), users_path)
      = menu_item(t('activerecord.models.offers'), posts_path)
